.jumbotron-image {
    padding: 12vmax;
    background-image: url("../assets/web.jpg");
    /* background-position: ; */
    /* background-repeat: repeat; */
    /* background-size: cover; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h2 {
    color: rgba(255, 255, 255, 0.758);
    font-weight: 800;
}